* {
  padding: 0;
  margin: 0;
}
.container {
  width: 1170 px;
  margin: 0 auto;
}
body {
  font-family: 'Segoe UI', sans-serif;
}  
header {
  font-family: 'Redressed', cursive;
  height: 85px;
  background-color:#00303f;
  position:fixed;
  top:0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border-bottom: 5px solid #cae4db;
}
.header-left {
  float: left;
  padding-top: 10px;
}
.logo1{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 5px;
  text-shadow: 2px 2px gray;
  color: #f5f4f4;
}
.logo2 {
  font-family: 'Pangolin', cursive;
  font-weight: bold;
  color: #f5f4f4;
}
.header-right {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 30px;
  float: right;
  background-color: rgba(0,137,179,0.3);
  margin-right: 50px;
  padding-right: 30px;
  padding-left: 30px;
  
}
.header-right a {
  text-decoration: none;
  color: #f5f4f4;
  line-height: 85px;
  display: block;
  transition-duration: 0.5s;
}
.header-right:hover {
  background-color: rgba(0,137,179,0.5);
}
.middle {
  padding-top: 100px;
  text-align: center;
}
.middle-top {
  padding-top: 100px;
}
.middle-top h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 100px;
  color: #cdac81;
  text-shadow: 2px 2px #805e33;
  margin-bottom: 20px;
}
.circle{
  border:2px solid black;
  border-radius:50%;
  background:rgba(0,0,0,0);
  color: black;
  width:100px;
  height:100px;
  text-align:center;
  line-height:100px;
  background-image: url(le.png);
}
.photo {
  border: 10px double #cae4db;
  border-width: 10px;
  padding: 10px;
  width: 45%;
  display:block;
  margin: 0 auto;
}
.middle-top h2 {
  padding-top: 10px;
  color:#cdac81;
  text-shadow: 1.5px 1.5px #805e33;
  padding-bottom: 10px;
}
.bacot {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f4f4;
  width: 800px;
  text-justify: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}
.pideo p{
  padding-bottom: 15px;
}
video {
  width: 320px;
  padding-bottom: 20px;
}
footer {
  height: 50px;
  background-color: #cae4db;
}
.footer-right {
  float: right;
  margin-right: 10px;
  padding-top: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
